html {
  scroll-behavior: smooth;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base styles */
body {
  @apply bg-white text-black dark:bg-black dark:text-white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}